div{
	width : max-content;
	margin-right: auto;
	margin-left: auto;
}
input{
	margin-top:10px;
	height: 30px;
	border-radius: 10px;

}
select{
	margin-top:10px;
	height: 30px;
	border-radius:10px;
	width: 170px;	
}
button{
	border-radius: 5px;
	height: 30px;
	transition: 0.5s;
}
button:hover{
	cursor: pointer;
	color: blue;
	background-color: orange;
}