/* Estilos generales */
.cabecera{display:none;}
/*html{	box-shadow: 0 0 40px #007BFF;padding:20px;width:max-content;border-radius:10px;margin:auto;
}*/
body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: auto;
	padding-right: 10px;
    color: white;
	position:relative;
	margin:auto;
	max-width: 1500px;
	overflow:hidden;
	padding-bottom: 50px;
	box-shadow: 0 0 250px #007BFF;
	border-radius: 20px;
	min-height: 80vh;
}

/* Estilos para botones */
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
	transition: 1s;
	font-size: 16px;
	font-weight: bold;
}

a {
    text-decoration: none;
    color: #007BFF;
}

.navbar button{
	height: 74px;
	padding: 20px 50px;
}

a:hover {
    text-decoration: underline;
}


.navbar {
    background-color: #007BFF;
	justify-content: space-around;
	border-radius: 5px;
	opacity: 80%
}

.navbar a {
    color: white;
}

img {
    width: 150px;
    height: 200px;
}

/* Estilos para la sección de cuenta */
.cuenta {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
	margin-top:0;
    background-color: white;
    color: black;
    border-radius: 5px;
	text-align: center;
	height: max-content;
}

main{
	display:grid;
	grid-template-columns: auto auto;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	width: max-content;
}
h3{
	text-align:center;
	font-size: 24px;
    color: white;
}

.autor{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	font-size: 17px;
	width: 470px;
	border-radius: 5px;
	border: 1px solid white;
}
.autor button{
	display: block;
	margin: 15px auto;
}
.autor h3{
	background-color: #007BFF;
	padding: 40px;
	margin-top:0px;
}

.libro h3{
	background-color: #007BFF;
	margin-top: 0;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
}

.libro button{
	margin-bottom: 20px;
}

p{
	padding-left: 20px;;
}
.autores{
	margin-bottom: 30px;
}
.usuarios{
	display: grid;
	grid-template-columns: auto auto auto auto;
	justify-content: space-around;
	font-weight: bold;
}
.usuario{
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px;
}
.register{
	margin-top:auto;
	margin-bottom:auto;
	font-size: 25px;
}


.papelera {
	border-radius: 5px;
	width: 35px;
	height: 35px;
    position: absolute;
    bottom: 20px; 
    right: 35px; 
}

.libro h3{
    text-transform: uppercase;
    border-radius: 10px 10px 0 0; /* Redondea solo las esquinas superiores */
}

.contenedor-libros {
    display: flex;
    gap: 20px;
}

.libro {
	opacity:85%;
	text-align: center;
	position: relative;
    flex: 0 0 auto;
    border-radius: 5px;
    display: inline-block;
	margin-top: 20px;
	margin-bottom: 10px;
    margin-right: 135px; /* Espacio entre los libros */
    width: 380px; /* Ancho de cada libro */
	height: 600px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 25px white;
    background-color: #333;
    color: white;
    display: inline-block; /* Mantiene los libros en la misma línea */
    vertical-align: top; /* Alinea la parte superior de los libros */
	cursor:pointer;
	transition: 0.5s;
}

.libro:hover{
	opacity: 100%;
	width: 385px;
	height: 605px;
	box-shadow: 0 0 40px white;

}

.arrow {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    color: #167aff;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
	opacity: 70%;
	transition: 0.5s;
}

.arrow:hover{
	opacity: 100%;
	width: 45px;
	height: 45px;
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

.contenedor-libros {
    display: flex;
    overflow-x: auto; /* Habilita la barra de desplazamiento horizontal */
    width: max-content;
   /* white-space: nowrap; Evita que los libros se desborden a la siguiente línea */
}

.libro img {
    max-width: 100%;
}

.footer{
	display:none;
}

html{
	overflow:auto;
}

form {
	padding-bottom: 5px;
	padding-right: 0px;
    text-align: center;
	display:inline-block;
	width: 250px;
	margin-right : -30px;
}


input[type="text"] {
    width: 48%;
    border: none;
    border-bottom: 1px solid white;
	background-color: transparent;
	color: white
}

input[type="text"]::placeholder{
	color: white;
}
input[type="text"]:focus{
    outline: none;
}
.libros{
	margin-left: 50px;
	margin-right: 50px;
}
input[type="submit"] {
    border: none;
	padding-top: 5px;
	padding-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
	
}

.actualizar{
	border-radius: 5px;
	width: 35px;
	height: 35px;
    position: absolute;
    bottom: 20px; 
    left: 35px; 
}	

.transparente{
	background-color: #7db3f3;
}


/* Estilos para dispositivos móviles (máximo 768px de ancho) */
@media (max-width: 768px) {
    .libro {
        grid: 0 0 calc(50% - 20px); /* 2 en 2 en tablet (50% = 100% / 2) */
    }
}

/* Estilos para dispositivos móviles (máximo 450px de ancho) */
@media (max-width: 450px) {
    .libro {
		width: 370px;
    }
	.libros{
		margin-left: 0px;
		margin-right: 0px;
	}
	nav{
		/*display:none;   Hay forma de cambiar el JS depende de la version en que estemos?*/ 
	}
}

