div{
	width : max-content;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}

input{
	margin-bottom: 10px;
	height : 30px;
	border-radius: 10px;
}

button{
	border-radius: 10px;
	background-color: lightblue;
	height: 40px;
	transition: 0.5s;
	cursor: pointer;
	margin-right: 40px;
	margin-left: 40px;
}

a{
	text-decoration: none;
}
.leerPersonas{
	background-color : blue;
	padding: 20px;
	border-radius: 20px;
	color: white;
	font-weight: bold;
	
}
