body{
	background-image: url(fondo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}



.developery{
	
	font-family: "Courier New" ,monospace;
	text-decoration: wavy overline  white;
	font-size: 40px;
	color: white;
}
h4{
	color:lightblue;
}
#flecha{
	width: 25px;
	height: 25px;
}
img {
	width: 250px;
	height: 150px;
}
a{
	margin: auto;
	text-decoration: none
}
#formulario{
	/*border: 10px solid wheat;*/
	width: 100vw;
	margin: auto;
	border-radius: 10px;
	/*background-image: url('imgFormulario.jpg');*/
	background-position: center;
	background-repeat: no-repeat;
	text-align: center
}


button{
	margin-bottom: 20px;
	border: none; 
	color: black; 
	padding: 10px 15px; 
	cursor: pointer; 
	border-radius: 5px; 
}
.btn1{
	background-color: white;
	border: 2px solid #007bff;
	transition: 0.5s;
} 
.btn1:hover {
	background: #0b7dda; 
	color: white;
}
.btn2 {
	background-color: white;
	border: 2px solid #04AA6D;
	transition: 0.5s;
} 
.btn2:hover {
	background-color: #46a049;
	color: white;
}
input[type="text"]{
	border-radius: 15px;
	height: 40px;
	width: 300px;
	/*opacity: 0.7;*/
}
select, option{
	border-radius: 15px;
	height: 40px;
	width: 300px;
	/*opacity: 0.7;*/
	background-color: white;
	margin-bottom: 20px;
	display: block;
    margin-right: auto;
    margin-left: auto;
}
input[type="mail"]{
	border-radius: 15px;
	height: 40px;
	width: 300px;
	/*opacity: 0.7;*/
}
input[type="file"]{
	color: white;
}
.candidatos{
	background-color: lightblue;
	padding: 15px;
	border-radius: 15px;
}
/*main{
	display: grid;
	grid-template-columns: auto auto auto;
}*/
.pre{
	background-color: lightblue;
	padding: 20px;
	border-radius: 15px;
	opacity: 0.9;
	margin: auto;
}
.adjuntar{
	color: white;
}

@media (min-width: 768px){
	#formulario{
		width: 400px;
	}
	.candidatos{
		width: max-content;
	}
	.pre{
		margin-left: auto;
		margin-right: auto;
		width: max-content;
		margin-bottom: 250px;
	}
	body{
		height: 100%;
	}
}