* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

aside {
	display: none;
}
#contenedor {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	height: 100vh;
}
header {
	background-color: lightcoral;
	height: 100px;
}
main {
	background-color: lightcyan;
	height: calc(100vh - 200px);
	justify-content: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}
footer {
	background-color: lightgreen;
	height: 100px;
	text-align: center;
}
img.ancho90 {
	display: block;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	/* margin-bottom: auto; */
	/* margin-top: auto; */
}
@media (min-width: 768px) {
	#contenedor {
		display: grid;
		grid-template-columns: 200px auto;
		grid-template-areas: 'cabecera cabecera' 'aside main' 'footer footer';
	}
	header {
		grid-area: cabecera;
	}
	aside {
		grid-area: aside;
	}
	main {
		grid-area:  main;
	}
	footer {
		grid-area: footer;
	}

	aside {
		display: block;
		background-color: lightyellow;
		height: calc(100vh - 200px);

	}


}